<div class="container p-3">
    <div class="d-flex justify-content-center mb-5">
        <a href="logo"><img src="" alt="" width="400px"></a>
    </div>
    <!-- //navbar  -->
    <nav class="navbar navbar-expand-lg navbar-light mb-1 p-2 header p-bcolor">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex flex-row justify-content-center" style="width: 100%;">
                <ul class="navbar-nav">
                    <a href="/" class="link  text-white pl-4 pr-4 ">Home</a>
                    <a href="" class="link  text-white pl-4 pr-4 ">Shop</a>
                    <a href="/rules" class="link  text-white pl-4 pr-4 ">Rules</a>
                    <div class="pl-4 pr-4">
                        <a href="" class="center-link font-weight-bold text-white "><label for="">Download</label></a>
                    </div>
                    <a href="" class="link text-white pl-4 pr-4 ">Rank</a>
                    <a href="/donate" class="link text-white pl-4 pr-4 ">Donate</a>
                    <a href="/faq" class="link text-white pl-4 pr-4 ">Faq</a>
                </ul>
            </div>
        </div>
    </nav>
</div>