<div class="d-flex flex-sm-column">
    <div class="card border border-primary">
        <div class="card-header p-bcolor rounded-0">
            <div class="d-flex flex-sm-row flex-wrap justify-content-center w-100">
                <label for="" style="color:white;font-weight:500">SERVER STATUS</label>
            </div>
        </div>
        <div class="card-body" style="width: 20vw;">
            <div class="d-flex flex-sm-column flex-wrap justify-content-around">
                <div class="status-group">
                    <div class="d-flex flex-sm-row flex-wrap justify-content-between">
                        <label for="" class="" style="font-weight: 500;">Login</label>
                        <label for="" class="pl-1 pr-1 status rounded text-center s-tcolor">online</label>
                    </div>
                </div>
                <div class="status-group">
                    <div class="d-flex flex-sm-row flex-wrap justify-content-between">
                        <label for="" class="" style="font-weight: 500;">Server</label>
                        <label for="" class="pl-1 pr-1 status rounded text-center s-tcolor">online</label>
                    </div>
                </div>
            </div>
            <hr style="border: none; border-bottom: 1px solid #5a89ed ;">
            <div class="d-flex flex-sm-row flex-wrap justify-content-center">
                <h3>Player <label class="p-tcolor"> Online </label> </h3>
            </div>
            <div class="d-flex flex-sm-row flex-wrap justify-content-center">
                <h3> 200 </h3>
            </div>

        </div>
    </div>
</div>